/* Importando do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu{
    display: flex;
    justify-content: center ;
    flex-direction: row;
    list-style: none;   /* remove os dots */
    color:black;
    .background-color: blue;
}
nav{
    display: flex; /* Permite organizar os elementos HTML*/
    justify-content: space-between;
    background-color:#FFE600;
    padding: 10px 20px;
}
.logo{
    font-size: 1.8rem;
    color: #0046BE;
    font-weight: bold;
    
}
li{
    padding: 12px 10px 5px 50px; /* dá um respiro dentro dos links */
}
a{ 
    text-decoration: none; /* remove o sublinhado */
    color: black;
}
body{
    font-family: 'Poppins', sans-serif;
}
.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))
  , url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.jundiaishopping.com.br%2Flojas%2Fgames-plus%2F&psig=AOvVaw1hvpT7opv1pSM_9sYknA_4&ust=1761229089565000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwjXkqTj_7eQAxVWNrkGHdZPJsEQjRx6BAgAEBo') no-repeat center center/cover;
  text-align: center;
  padding: 6rem 2rem;
  color: #fff;
}
